body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/*padding-top: 5px;*/
	height: 60px;
	/*background-color: #f5f5f5;*/
}

form.navbar-form.navbar-left > div.form-group {
	padding-left: 20px;
}

.connectionStatus {
	display: inline-block;
	padding: 5px;
	padding-top: 3px;
	margin-top: 3px;
	margin-bottom: 0px;
	border: 1px solid transparent;
	border-radius: 4px;
}

#connectionIcon {
	margin-left: 3px;
}

.user-status {
	display: inline-block;
	padding: 6px;
	margin-top: 0px;
	margin-bottom: -0.5px;
	margin-right: 4px;
	border: 1px solid transparent;
	border-radius: 3px;
}

.user-status-online {
	background-color: #56D024;
	border-color: #41A617;
	box-shadow: 0px 0px 3px #288900;
}

.user-status-away {
	background-color: #FFDE36;
	border-color: #C8B219;
	box-shadow: 0px 0px 3px #CDB300;
}

.user-status-busy {
	background-color: #FF4242;
	border-color: #B01919;
	box-shadow: 0px 0px 3px #C50101;
}

.user-status-offline {
	background-color: #C0C0C0;
	border-color: #8C8C8C;
	box-shadow: 0px 0px 3px #A0A0A0;
}

.user-status-unknown {
	background-color: #C0C0C0;
	border-color: #8C8C8C;
	box-shadow: 0px 0px 3px #A0A0A0;
}

.user-status-dnd {
	background-color: #A61F1F;
	border-color: #741919;
	box-shadow: 0px 0px 3px #410808;
}

#emptyChatList {
	color: #777;
	background-color: #eee;
}

.bubble-row {
	margin-left: 20px;
	margin-right: 20px;
}

.bubble-row:before {
	display: table;
	content: " ";
}

.bubble-row:after {
	display: table;
	content: " ";
	clear: both;
}

.bubble {
	position: relative;
	padding: 3px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 6px;
	max-width: 350px;
	/*min-width: 60px;*/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	box-shadow: 1px 1px 1px #888888;
}

.bubble-from-me {
	background: #7DCCFC;
	float: right;
}

.bubble-from-you {
	background: #DDDDDD;
	float: left;
}

.bubble-not-sent {
	background: #FFBB92;
	float: right;
	text-decoration: line-through;
}

div.bubble-not-sent input {
	margin-left: 4px;
}

.messageWarn {
	float: right;
	padding: 6px;
}

/*.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 76px;
}*/

#enterMessage {
	width: 85%;
	resize: none;
	overflow-y: hidden;
	max-height: 74px;
}

#sendBtn {
	width: 13%;
}

#messagesContainer {
	overflow: hidden;
	width: 100%;
}

#messages {
	margin-bottom: 15px;
	overflow-y: scroll;
	height: 56vh;
	height: 36vmax;
}

#messages::-webkit-scrollbar {
	display: none;
}

#isTypingMessage {
	font-style: italic;
}

.typing-icon {
	margin-right: 5px;
}

#sendUnsentMsgBtnContainer {
	text-align: center;
}
